################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BankApplication
/BankApplication/bin/Debug/netcoreapp2.1
/BankApplication/obj
